{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true
  },
  "rules": {
    "no-mixed-operators": "off",
    "max-len": [
      "warn",
      120
    ],
    "parserOptions": {
      "ecmaVersion": 6
    },
    "semi": [
      "error",
      "never"
    ],
    "arrow-body-style": "warn",
    "object-curly-spacing": [
      "warn",
      "never"
    ],
    "object-curly-newline": "off",
    "consistent-return": "warn",
    "global-require": "warn",
    "no-unused-expressions": "off",
    "no-unused-vars": "warn",
    "no-return-assign": "warn",
    "no-underscore-dangle": "off",
    "no-confusing-arrow": "off"
  }
}