.div___1 {
  color: red;
  width: 400px;
  background: red;
  height: 400px;
}

.div___2 {
  color: yellow;
  width: 400px;
  background: yellow;
  height: 400px;
}

.div___3 {
  color: green;
  width: 400px;
  background: green;
  height: 400px;
}